* {
    font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;

     margin: 0;
     padding: 0;
     user-select: none;
}
@font-face {
    font-family: 'MyUniqueFont';
    src: url('/fonts/overdozesans.otf') format('opentype'),
         url('/fonts/overdozesans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}